body {display: flex; 
      flex-direction:column; 
      justify-content: left; 
      align-items: center;}
 
header {display: block;
     width: max-content; 
     font-style: italic;}

.generalName {color: rgb(17, 122, 100);
      display: block;
      width: 300px;}


.bloc-content {display: block; text-align: left; padding: 2px;}

.block-anchor {display: block; text-align: left;}

/* .name-refer{ display: inline-block; width: 250px; text-align: left;} */

.mini-image {width: 40px; height: 40px;}

.footer-title{display: block; height: 200px; width: 100%; text-align: left; } 











